<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sociometry.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6b685580-9ff6-4549-ac57-a93f13756529/resourceGroups/TestDriveRG/providers/Microsoft.Web/sites/sociometry</ResourceId>
    <UserName>$sociometry</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sociometry.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>